.calculator{
    width: 250px;
    height: 300px;
    border: 1px solid rgb(241, 233, 233);
    margin: auto;
    position: relative;
    top: 100px;
    display: grid;
    gap: 5px;
    padding: 20px;
    border-radius: 20px;
}

.calculator>.form-group{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.calculator>.form-group>button{
    width: 25%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.calculator>.form-group>button:hover{
    background-color: rgb(218, 219, 220);   
}

.calculator>.form-group>input{
    width: 100%;
    font-size: 25px;
    border: 1px solid rgb(226, 224, 224);
    text-align: end;
    outline: none;
    border-radius: 5px;
    padding-right: 10px;
}

.equal{
    color: aliceblue;
    background-color: darkblue;
}

.calculator>.form-group>.equal:hover{
    background-color: rgb(71, 71, 245);
}